
:root {
    --color-primary: #912c4c;
    --color-white: #ffffff
}

*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    font-weight: 500;
    box-sizing: border-box;
}
.Logo{
    z-index: 2;
}

.container{
    display: flex;
   margin: auto;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background-color: var(--color-white);
    max-width: 1500px;
}

.Box-geometric{
    display: flex;
    justify-content: space-between;
    padding: 100px;
    width: 100%;
    height: 450px;
    background-color: var(--color-primary);
}

.geometric-wave{
    width: 100%;
    height: 30vh;
    z-index: 1;
    margin-top: -20px;
}

.Box-geometric > .Title {
    color: var(--color-white);
}

.Box-geometric > .Title > h2 {
    margin-top: 30%;
    font-size: 6em;
}

.Box-geometric > .Title > h3 {
    margin-top: 2%;
    font-size: 1.8em;
}

.container-information{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 80vh;
}

.Box-contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -100px;
}

.Box-contact > .Title-ask > h3 {
    font-size: 2em;
    color: var(--color-primary);
    padding-bottom: 10px;
    margin-top: 50px;
}

.Box-contact > .Title-ask > h2 {
    font-size: 2.5em;
    text-align: center;
    color: var(--color-primary);
    padding-bottom: 10px;
}

.Box-contact > .Form > form > input {
    background-color:#f5f5f5;
    width: 400px;
    height: 45px;
    padding: 15px;
    border-color: var(--color-primary);
    border-radius: 5px;
    border: none;
    margin-top: 30px;
}

.Box-contact > .Form > form > button {
    width: 100px;
    height: 45px;
    border-radius: 5px;
    color: var(--color-white);
    border: none;
    background-color: var(--color-primary);
    cursor: pointer;
 }

 .Box-contact > .Form > form > button > a{
     text-decoration: none;
     color: var(--color-white);
 }

 .Box-contact > .Form > h3 {
     margin-top: 20px;
     text-align: center;
     font-size: 1.5em;
     opacity: 0.6;
 }

.Box-information {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 100px;
    margin-top: 40px;
}

.Box-information 
.Information-1 > h3,
.Information-2 > h3,
.Information-3 > h3 {
    color: var(--color-primary);
}

.Information-3 > h3 {
    margin-top: 20px;
}

.Box-information >
.Information-1,
.Information-2,
.Information-3 {
    width: 20%;
    margin: auto;
}

.Box-information >
.Information-1 > p,
.Information-2 > p,
.Information-3 > p {
    line-height: 2;
    text-align: start;
}

.Footer {
    display: flex;
    margin: auto;
    width: 100%;
    /* background-color: var(--color-primary); */
    
}

.Footer > svg{
    margin-top: -200px;
}

.Footer-img > img{
    width: 20px;
    margin-left: 50%;
}

.Footer > h3{
    margin-top: -60px;
    margin-left: 50%;
    color: var(--color-white);
}

@media only screen and (max-device-width: 480px) {
   /* styles for mobile browsers smaller than 480px; (iPhone) */
   .Logo{display: none;}
   .Box-geometric{width: 100%; margin-top: -200px; display: flex; align-items: center; justify-content: center;}
   .Box-geometric > .Title > h2,h3{font-size: 50px; margin-top: 150px;}
   .Box-geometric > .Title > h2{font-size: 50px;}
   .Box-geometric > .Title > h3{font-size: 15px;}
   .container-information > .Box-contact > .Title-ask > h3{margin-top: 120px; font-size: 20px}
   .container-information > .Box-contact > .Title-ask > h2{font-size: 20px}
   #email{width: 300px; margin-left: 10%;}
   #button {margin-left: 40%; margin-top: 10px;}

   .container-information > .Box-information > .Information-1, .Information-2, .Information-3{
       display: flex;
       flex-direction: column;
       width: auto;
       height: auto;
   }

   .container-information > .Box-information > .Information-1 > h3{
       font-size: 20px;
       margin-top: -20px;
       margin-right: 140px;
       width: 200px;
       flex-direction: row;
   }
   .container-information > .Box-information > .Information-2 > h3{
    font-size: 20px;
    margin-top: -20px;
    margin-top: 20px;
    margin-right: 140px;
    width: 200px;
}

.container-information > .Box-information > .Information-3 > h3{
    font-size: 20px;
    margin-top: -20px;
    margin-top: 20px;
    margin-right: 140px;
    width: 200px;
}
   
   /* .geometric-wave{display: none;} */

   .Footer{
       margin-top: 70%;
       background-color: var(--color-primary);
   }
}

@media only screen and (max-device-width: 411px) {
    
    /* .geometric-wave{display: none;} */
 
    .Box-geometric {margin-top: -150px;}
    .geometric-wave{margin-top: -1px;}
    .Footer{
        display: none;
    }
 }

 @media only screen and (max-device-width: 414px) {
    
    /* .geometric-wave{display: none;} */
 
    .Box-geometric {margin-top: -150px;}
    .geometric-wave{margin-top: -1px;}
    .Footer{
        display: none;
    }
 }

@media only screen and (max-device-width: 360px) {
    
    /* .geometric-wave{display: none;} */
    .container-information > .Box-information > .Information-1 > h3{
        font-size: 20px;
        margin-top: -20px;
        margin-right: 110px;
        width: 200px;
        flex-direction: row;
    }
    .container-information > .Box-information > .Information-2 > h3{
     font-size: 20px;
     margin-top: -20px;
     margin-top: 20px;
     margin-right: 110px;
     width: 200px;
 }
 
 .container-information > .Box-information > .Information-3 > h3{
     font-size: 20px;
     margin-top: -20px;
     margin-top: 20px;
     margin-right: 110px;
     width: 200px;
 }
    .Box-geometric {margin-top: -150px;}
    .geometric-wave{margin-top: -1px;}
    .Footer{
        display: none;
    }
 }

 @media only screen and (max-device-width: 320px) {

    .Box-geometric {margin-top: -150px;}
    .geometric-wave{margin-top: -1px;}
    .Box-geometric > .Title > h2,h3{font-size: 30px; margin-top: 120px;}
    .Box-geometric > .Title > h2{font-size: 50px;}
    .Box-geometric > .Title > h3{font-size: 15px;}
    .container-information > .Box-contact > .Title-ask > h3{margin-top: 120px; font-size: 15px}
    .container-information > .Box-contact > .Title-ask > h2{font-size: 20px}
    #email{width: 250px; margin-left: 10%;}
    #button {margin-left: 35%; margin-top: 10px;}
    /* .geometric-wave{display: none;} */

    .container-information > .Box-information > .Information-1 > h3{
        font-size: 20px;
        margin-top: -20px;
        margin-right: 110px;
        width: 200px;
        flex-direction: row;
    }
    .container-information > .Box-information > .Information-2 > h3{
     font-size: 20px;
     margin-top: -20px;
     margin-top: 20px;
     margin-right: 110px;
     width: 200px;
 }
 
 .container-information > .Box-information > .Information-3 > h3{
     font-size: 20px;
     margin-top: -20px;
     margin-top: 20px;
     margin-right: 110px;
     width: 200px;
 }
 
    .Footer{
        display: none;
    }
 }

 @media only screen and (max-device-width: 768px) {

    .Box-geometric > .Title > h2{font-size: 70px;}
    .Box-geometric > .Title > h3{font-size: 20px;}
    .geometric-wave{margin-top: -1px;}

    .container-information > .Box-information > .Information-1, .Information-2, .Information-3{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: auto;
        height: auto;
    }

    .container-information > .Box-information > .Information-1 > h3{
        font-size: 20px;
        width: 200px;
        flex-direction: row;
    }
    .container-information > .Box-information > .Information-2 > h3{
     font-size: 20px;
     margin-top: 20px;
     width: 200px;
 }
 
 .container-information > .Box-information > .Information-3 > h3{
     font-size: 20px;
     margin-top: 20px;
     width: 200px;
 }

 .Footer{
    margin-top: 30%;
    background-color: var(--color-primary);
}

 }